body {
  background: #f2f1f6;
}

.food_container {
  width: 1000px;
  margin: 200px auto;
}

.food_flex {
  display: flex;
  justify-content: space-between;
}

.food_box {
  flex: 0 0 23%;
  background: white;
  text-align: center;
  border-radius: 20px;
  position: relative;
  padding-top: 100px;
}

.food_box img {
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.text_name {
  font-size: 20px;
  font-weight: 600;
}
